/* ===== Reset & Base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-base);
  color: var(--navy);
  background: #fff;
  -webkit-font-smoothing: antialiased;
  background: #2e1d11;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

header,
main {
  /* main = your hero block */
  background: #ffffff;
  width: 100vw;
}
